@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Sen:wght@700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ffb900;
    --secondary-color: #171100;
    --text-color: #5F5B53;
    --font-heading: Sen, sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

/* common */
a {
    text-decoration: none;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.component {
    max-width: 1170px;
    width: calc(100% - 20px);
    margin: 0 auto;
}

.btn {
    color: #fff;
    background-color: var(--secondary-color);
    border-radius: 24.5px;
    text-align: center;
    font-weight: 600;
    transition: .25s;
    border: none;
}

.btn:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    cursor: pointer;
}

.heading {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 38px;
    line-height: 4.8rem;
    letter-spacing: -0.02em;
    color: var(--secondary-color);
}

.desc {
    font-size: 1.8rem;
    line-height: 2.6rem;
    color: var(--text-color);
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.break-all {
    word-break: break-all;
}

/* header */
.header {
    padding: 36px 0 10px;
    background-color: #FFFCF4;
    position: sticky;
    top: -26px;
    z-index: 1000;
}

header nav ul,
header .component {
    display: flex;
    align-items: center;
}

header nav {
    margin-left: auto;
}

header nav a {
    display: block;
    padding: 17px 21px;
    color: var(--text-color);
    position: relative;
    transition: .25s;
}

header nav a.active {
    color: var(--secondary-color);
}

header nav a.active::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 2px;
    background-color: currentColor;
    border-radius: 1px;
    left: 21px;
    bottom: 12px;
}

header nav a:hover {
    color: var(--secondary-color);
}

header .btn.sign-up {
    min-width: 144px;
    line-height: 5rem;
    margin-left: calc(70px - 21px);
}

/* hero */
.hero {
    background: #FFFCF4;
    padding-top: 54px;
    padding-bottom: 64px;
}

.hero .component {
    display: flex;
    justify-content: space-between;
}

.hero .left {
    position: relative;
}

.hero .left>img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
    display: block;
}

.hero .left .courses {
    position: absolute;
    left: 300px;
    bottom: 48px;
    background-color: #fff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    padding: 24px 58px 24px 24px;
}

.hero .left .courses .item {
    display: flex;
    align-items: center;
}

.hero .left .courses .item .icon {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 16px;
}

.hero .left .courses .item+.item {
    margin-top: 14px;
}

.hero .left .courses .item:nth-of-type(1) .icon {
    background: #FFF9E8;
}

.hero .left .courses .item:nth-of-type(2) .icon {
    background: #FCEFFF;
}

.hero .left .courses .item:nth-of-type(3) .icon {
    background: #EBEAFF;
}

.hero .left .courses .item .label {
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 2.6rem;
}

.hero .left .courses .item .title {
    font-weight: 600;
    font-size: 1.8rem;
    color: #171100;
    line-height: 3rem;
}

.hero .right {
    max-width: 470px;
}

.hero .right .heading {
    font-size: 5.8rem;
    line-height: 6.8rem;
    margin-top: 64px;
}

.hero .right .desc {
    line-height: 3rem;
    margin-top: 22px;
}

.hero .right .btn-group {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.hero .right .btn-cta {
    display: inline-block;
    background: #FFB900;
    border-radius: 32px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1.8rem;
    min-width: 180px;
    line-height: 6.4rem;
    text-align: center;
    transition: .25s;
    margin-right: 28px;
}

.hero .right .btn-cta:hover {
    background-color: var(--secondary-color);
}

.hero .right .btn-watch {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 3rem;
    color: #171100;
    cursor: pointer;
}

.hero .right .btn-watch .icon {
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 14px;
}

.hero .right .recent {
    margin-top: 48px;
    font-size: 1.8rem;
    line-height: 3rem;
    color: var(--text-color);
}

.hero .right .recent .stats {
    margin-top: 8px;
}

.hero .right .recent strong {
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 5.4rem;
    color: var(--secondary-color);
}

.hero .right .recent strong+strong {
    margin-left: 28px;
}

/* popular */

.popular {
    margin: 200px 0;
}

.popular .popular-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular .popular-top .info {
    max-width: 460px;
}

.popular .popular-top .controls {
    display: flex;
    gap: 18px;
}

.popular .popular-top .controls .control-btn {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid currentColor;
    border-radius: 50%;
    background-color: #fff;
    transition: .25s;
    color: var(--primary-color);
}

.popular .popular-top .controls .control-btn:hover {
    cursor: pointer;
    color: #fff;
    background-color: var(--primary-color);
}

.popular .courses {
    margin-top: 55px;
    display: flex;
    gap: 30px;
}

.popular .course {
    border: 1px solid #E2DFDA;
    border-radius: 12px;
    flex: 1;
    border-top: none;
    background-color: #fff;
    transition: .25s;
}

.popular .course:hover {
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
    border-color: transparent;
}


.popular .course .thumb {
    width: calc(100% + 2px);
    height: 278px;
    border-radius: 12px 12px 0px 0px;
    object-fit: cover;
    margin-left: -1px;
}

.popular .course .content {
    padding: 22px;
}

.popular .course .info {
    display: flex;
    justify-content: space-between;
}

.popular .course .info h3 {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 3rem;
    color: var(--secondary-color);
}

.popular .course .info .rating {
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin-left: 8px;
}

.popular .course .desc {
    margin-top: 6px;
    font-size: 1.4rem;
}

.popular .course .foot {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular .course .price {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 3rem;
    color: var(--secondary-color);
}

.popular .course .btn.book {
    padding: 12px 24px;
    font-size: 1.4rem;
    line-height: 2.6rem;
}